<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>RoleServlet</display-name>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>controller.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/RoleServlet</url-pattern>
  </servlet-mapping>
  <display-name>persons</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PersonsServlet</display-name>
    <servlet-name>PersonsServlet</servlet-name>
    <servlet-class>controller.PersonsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonsServlet</servlet-name>
    <url-pattern>/PersonsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonsServle</display-name>
    <servlet-name>PersonsServle</servlet-name>
    <servlet-class>controller.PersonsServle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonsServle</servlet-name>
    <url-pattern>/PersonsServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonServlet_</display-name>
    <servlet-name>PersonServlet_</servlet-name>
    <servlet-class>controller.PersonServlet_</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonServlet_</servlet-name>
    <url-pattern>/PersonServlet_</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookServlet_</display-name>
    <servlet-name>BookServlet_</servlet-name>
    <servlet-class>controller.BookServlet_</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet_</servlet-name>
    <url-pattern>/BookServlet_</url-pattern>
  </servlet-mapping>
</web-app>